@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 60px; /* Offset for the fixed navbar */
  padding-bottom: 60px; /* Offset for the fixed footer */
}
